.item-add__item-item{
    padding: 0 0 15px 15px;
    color: rgb(65, 65, 65);
    font-weight: 500;
}

.item-add__item__add{
    cursor: pointer;
}

.item-add__item-item__input{
    border: none;
    border-bottom: 1px solid rgb(119, 119, 119);
    border-radius: 3px;
    width: 220px;
    height: 50px;
}

.item-add__item-item__button-add{
    border: none;
    border-radius: 3px;
    background-color: rgb(12, 88, 231);
    color: #fff;
    padding: 10px 15px;
    margin: 5px 5px 0 0;
    cursor: pointer;
}

.item-add__item-item__button-del{
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}